@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

.mainContainer {
    width: 99vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}