@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

h1, p {
    font-family: 'Roboto', sans-serif;
    
}

.mainContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formContainerDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    width: 15vw;
    padding: 2rem;
    border-radius: 10px;
}

.formContainerDiv h1{
    margin: 0%;
    font-size: 4rem;
}

.desc {
    font-size: 1.5rem;
}

.formDiv input {
    outline: none;
}

.btnDiv {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnDiv button {
    border: none;
    background-color: black;
    color: white;
    padding: 8px 60px;
    font-size: medium;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}