table {
    overflow-x: scroll;
}

.table img{
    height: 150px;
    width: 200px;
}

.tableDiv {
    padding: 1rem;
}

h2 {
    margin: 1rem 0 0 4rem;
}

.btnDiv{
    width: 98vw;
    display: flex;
    justify-content: center;
}

.btnDiv a{
    text-decoration: none;
    color: black;
}
.btnDiv a:hover{
    color:black;
}