{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'activity_capture.js' %}"></script>
    <link rel="stylesheet" href="{% static 'defense/css/activity.css' %}" />
    <title>Select Activity</title>
</head>

<body>
    <div class="mainContainer">
        <div class="formDiv">
            <h1>Select Activity</h1>
            <form action="" method="post" novalidate id="form">
                {% csrf_token %}
                <div>
                    <input type="number" name="id">
                    <p> ID </p><BR>
                    <input type="checkbox" name="activity1">
                    <p> Activity 1 </p><BR>
                    <input type="checkbox" name="activity2">
                    <p> Activity 2 </p><BR>
                    <input type="checkbox" name="activity3">
                    <p> Activity 3 </p><BR>
                    <input type="checkbox" name="activity4">
                    <p> Activity 4 </p><BR>
                    <input type="hidden" name="photo">Photo<BR>

                    <div class="btnDiv">
                        <button type="submit" name="login">Submit</button>
                        <button id="get_image" onclick=capture_button_clicked() type="button"> Capture </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="videoDiv">
            <video id="video" autoplay="true"> </video>
            <canvas id="video_frame" width=640 height=480>
        </div>
    </div>
</body>

</html>